/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 janv. 2016, 11:32:10
    Author     : Soufiane
*/

@font-face {
    font-family: 'chmplight'; /*a name to be used later*/
    src: url('../fonts/chmp.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'chmpbold'; /*a name to be used later*/
    src: url('../fonts/chmpbold.ttf'); /*URL to font*/
}

body{
    margin : 10px;
    padding : 10px;
    background-color: #E2DAC3;
}

#content{
    width : 95%;
    margin: auto;
    font-family:"chmplight", times, serif;
    text-align: center;
    font-size: 1.5em;
}